@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap'); 
html {
    font-size: 14px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(159, 255, 250);
    color: rgb(17, 26, 28);
    font-family: 'Caveat Brush', cursive;
    list-style: none;
    text-decoration: none;
}

body {
    min-height: 100vh;
}

/* NAVIGATION BAR*/

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 2%;
    margin: 0% ;
    border: 1px solid black;
    font-size: 3.0rem;
}

.container h1{
    flex: 20%;
    padding-left: 2%;
    cursor: pointer;
}

.nav-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    line-height: 1.5;
    font-size: 2.5rem;
    text-align: center;
    flex: 60%;
    padding-left: 10%;
}

.nav-links > li{
    margin: 0% 2%;
}

.nav-links li a {
    text-decoration:  solid transparent;
    transition: text-decoration 1s ease;
}

.nav-links li a:hover{
    color: white;
    text-decoration: underline 2px currentColor;
}



/* NAVIGATION BAR*/


/* MAIN SECTION*/
.heroMain {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}

.heroMain section {
    border: 1px solid yellow;
    width: 50%;
    border-radius: 20px;
}

.heroMain section {
    align-content: center;
}

.heroMain img{
    width: 40%;
    height: 550px;
    border: 5px solid red;
    border-radius: 50%;
    flex: 0.5;
}

/* MAIN SECTION*/


/*ABOUT SECTION*/
.aboutSection {
    border: 5px solid blueviolet;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.aboutSection h2 {
    width: 100%;
    text-align: center;
}

.aboutSection h2:nth-child(2), 
.aboutSection img {
    width: 50%;
}

.aboutSection h2:nth-child(2){
    flex: 2;
}

.aboutSection img {
    flex: 0.5;
}
/*ABOUT SECTION*/

/*PROJECT SECTION*/
.projectsSection {
    border: 5px solid rgb(106, 163, 255);
}
/*PROJECT SECTION*/


/*SERVICES SECTION */
.servicesSection {
    border: 5px solid rgb(210, 203, 0);
}
/*SERVICES SECTION*/


/*CONTACT SECTION*/
/*CONTACT SECTION*/

/*CONTACT FORM STYLING*/
.contactSection{
    border: 5px solid rgb(114, 251, 102);
}
.contactForm{
    border: 10px solid black;
    margin: 0.5em 2em;
    padding: 3em 0em;
    border-radius: 30%;
    height: 700px;
}


.contactForm , .contactForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.0rem;
    
}

.contactForm h2 {
    margin-bottom: 0.5em;
    font-size: 6rem;
}

.contactForm form input {
    width: 100%;
    padding: 0.5em 2em;
}

/*CONTACT FORM STYLING*/

/* FOOTER SECTION*/
footer {
    margin-top: 13.2%;
    border: 1px solid black;
}

.footer-links {
    display: flex;
    justify-content: space-around;
}

.footer-links li a{
    text-decoration:  solid transparent;
    transition: text-decoration 1s ease;
}

.footer-links li a:hover, 
.footer-links li a i:hover {
    color: white;
    text-decoration: underline 2px currentColor;
}
/* FOOTER SECTION*/