/***UNIVERSAL STYLES***/
html {
    font-size: 14px;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #242424;
    color: white;
}

li {
    list-style: none;
}

/***UNIVERSAL STYLES***/



/*** NAVIGATION BARS*****/
@media (min-width:768px) and (max-width: 1440px) {
    .nav  {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 1% 0% 3% 10%;
    }

    .nav ul {
        display: flex;
    }

    nav ul > * , .nav h2 {
        font-size: 2rem;
    }
/*** NAVIGATION BARS*****/


/**** MAIN SECTION ****/
    .container {
        display: flex;
        justify-content: space-around;
        width: 80%;
        margin-left: 10%;
        border-bottom: 1px solid white;
        padding-bottom: 5%;
    }

    .container .intro {
        width: 706px;
        height: 303px;
    }
    .container .intro button {
        width: 100px;
        margin-top: 10%;
        text-transform: uppercase;
        border: none;
        border-bottom: 1px solid rgb(78,225,160);
        background-color: black;
        color: white;
    }
    .container img {
        width: 30%;
        height: 30%;
    }

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .intro h1 {
        font-size: 3.5rem;
    }

/**** MAIN SECTION ****/

/**** SKILL SECTION****/
    .skillSection {
        display: grid;
        width: 76%;
        height: 300px;
        margin: 0 auto;
        padding: 5% 0%;
        grid-template-columns: repeat(3, 250px);
        grid-template-rows: repeat(3, auto);
        align-items: flex-start;
        align-content: space-around;
        justify-content: center;
    }

    .skillSection section h2 {
        padding: 0% 0% 5% 0%;
        font-size: 2.5rem;
    }

    .skillSection section p {
        font-size: 1.3rem;
    }

/**** SKILL SECTION****/

/**** PROJECT TITLE SECTION****/
    .projectTitle {
        width: 100%;
    }

    .projectTitle section {
        width: 80%;
        margin-left: 10%;
        display: flex;
        justify-content: space-between;
    }
/**** PROJECT TITLE SECTION****/


/**** PROJECT DISPLAY SECTION****/
    .projectDisplay {
            display: grid;
            width: 76%;
            height: 675px;
            grid-template-columns: repeat(2, 250px);
            grid-template-rows: repeat(3, auto);
            align-items: flex-start;
            align-content: space-around;
            justify-content: center;
        }
/**** PROJECT DISPLAY SECTION****/
}